@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.85) !important;
  color: rgba(255, 255, 255, 0.85) !important;
}

hr {
  background-color: rgba(255, 255, 255, 0.85);
}

a {
  text-decoration: none !important;
  color: rgba(255, 255, 255, 0.85) !important;
}

.BouttonPerso {
  color: rgba(255, 255, 255, 0.85) !important;
  background-color: #301c4d !important;
}

.resize {
  position: absolute;
  background-color: rgba(173, 173, 173, 0.7);
}

#resizeB {
  height: 1.5px;
  width: 100%;
  bottom: 0;
  cursor: ns-resize;
}

#resizeR,
#resizeR2 {
  width: 1.5px;
  height: 100%;
  right: 0;
  top: 0;
  cursor: ew-resize;
}

#Header {
  position: relative;
}

#Header .nav {
  position: relative;
  background-color: #301c4d;
}

#Header .nav .nav-item {
  margin-left: 10px;
}

#Header .nav .nav-item .nav-link {
  margin-top: calc(50% - 46px / 2);
  color: rgba(255, 255, 255, 0.274) !important;
  border: 1px solid #301c4d;
}

#Header .nav .nav-item .nav-link span {
  font-size: 25px;
}

#Header .nav .nav-item .nav-link.active {
  position: relative;
  background: transparent;
  color: rgba(255, 255, 255, 0.85) !important;
  border: 1px solid #301c4d;
}

#Header .nav .nav-item .nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: calc(50% - 10px);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(255, 255, 255, 0.85) !important;
}

#Header .nav .nav-item #NL1.active::after {
  -webkit-animation: arrowRtoL 0.5s cubic-bezier(0.31, 0.13, 0.49, 1.37) 0s 1;
          animation: arrowRtoL 0.5s cubic-bezier(0.31, 0.13, 0.49, 1.37) 0s 1;
}

#Header .nav .nav-item #NL2.active::after {
  bottom: -9px;
  -webkit-animation: arrowLtoR 0.5s cubic-bezier(0.31, 0.13, 0.49, 1.37) 0s 1;
          animation: arrowLtoR 0.5s cubic-bezier(0.31, 0.13, 0.49, 1.37) 0s 1;
}

#Header .nav #User {
  position: absolute;
  right: 10px;
}

#Header .nav #User span {
  color: rgba(255, 255, 255, 0.85);
}

#Music {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: calc(100vh - 58px);
  color: rgba(117, 117, 117, 0.712);
}

#Music #Menu {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#Music #Menu .bloc {
  position: relative;
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  padding-left: 30px;
  cursor: pointer;
}

#Music #Menu #PlaylistContainer {
  position: relative;
  padding-top: 10px;
}

#Music #Menu #PlaylistContainer .Playlist.active {
  color: rgba(17, 17, 17, 0.815);
  font-weight: bold;
}

#Music #Menu #PlaylistContainer .Playlist.active::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  height: 100%;
  border: 2px solid #301c4d;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#Music #Menu #PlaylistContainer .Playlist.active::after {
  content: "";
  position: absolute;
  left: 8%;
  top: 4px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid rgba(117, 117, 117, 0.712);
}

#Music #Menu #settings {
  position: relative;
  padding-top: 10px;
}

#Music #Menu #settings span {
  font-size: 20px;
}

#Music #Menu #settings .settings {
  position: absolute;
  bottom: 0;
}

#Music #Menu #settings .NewPlaylist:active,
#Music #Menu #settings .settings:active {
  color: rgba(17, 17, 17, 0.815);
}

#Music #PlaylistWithMusic {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#Music #PlaylistWithMusic header {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(173, 173, 173, 0.7);
  padding: 20px;
}

#Music #PlaylistWithMusic header .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#Music #PlaylistWithMusic header .info h2 {
  font-weight: bold;
}

#Music #PlaylistWithMusic header .info img {
  border: 1px solid rgba(173, 173, 173, 0.7);
  border-radius: 10px;
  width: 200px;
  margin-top: 0;
}

#Music #PlaylistWithMusic header .info .inlineWritten ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: inside;
}

#Music #PlaylistWithMusic header .action {
  position: absolute;
  right: 20px;
}

#Music #PlaylistWithMusic header .action .BouttonPerso span:hover {
  color: rgba(255, 255, 255, 0.85) !important;
}

#Music #PlaylistWithMusic.Spinner,
#Music #PlaylistWithMusic.non-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Music #PlaylistWithMusic.Spinner span:hover,
#Music #PlaylistWithMusic.non-selection span:hover {
  color: rgba(17, 17, 17, 0.815);
}
/*# sourceMappingURL=Index.css.map */